body{
    font-family: verdana;
}
*{
    margin: 0;
    padding: 0;
}
header{
    position: absolute;
    background-color: blueviolet;
    width: 100%;
    color: aliceblue;
}
header h2{
    position: absolute;
    margin-top: 20px;
    left: 10%;
}
header{
    height: 10vh;
}