body{
    font-family: verdana;
}
*{
    margin: 0;
    padding: 0;
}
footer{
    position: absolute;
    background-color: blueviolet;
    width: 100%;
    height: 15vh;
    color: aliceblue;
    bottom: 0;
}
footer h4{
    position: absolute;
    left: 1%;
}